# Comparison functions `<` `≤` `=` `≥` `>` `≠`

In this Jupyter notebook we will go over 6 APL functions, the comparison functions `<` `≤` `=` `≥` `>` `≠`. As the name suggests, we use these functions to _compare_ their arguments.

The comparison functions are _dyadic_ **scalar** functions. Being _dyadic_ means that they require both a left and a right argument and being **scalar** means they penetrate into nested arrays all the way down to the _simple_ scalars composing said arrays. These are the names of the six comparison functions:

 - `=` is the _Equal To_ function and `≠` is the _Not Equal To_ function;
 - `<` is the _Less Than_ function and `>` is the _Greater Than_ function;
 - `≤` is the _Less Than or Equal To_ function and `≥` is the _Greater Than or Equal To_ function;
 
We start by exploring a bit these six scalar functions giving some brief examples on how to use them. After that, we explore some relationships these functions satisfy among themselves and some tips on simplifying the usage of these functions.

## A foreword on logical values in APL

Depending on what your programming background is (if any) this may come as a surprise to you... but in APL the logical values ― the _"things"_ we use to indicate if an expression is true or false ― are represented by the numbers $1$ and $0$.

In languages like Python or Java we have keywords for those but in other languages like C and APL we use $0$ to represent _false_ and we use $1$ to represent _true_. This may seem like a step back if you are used to having `true/false` keywords but later on you will be shown that this in fact can be quite handy.

For the purposes of this notebook, it means that if applying one of the comparison functions returns $1$ then it means the comparison is true and if the function returns $0$ then the comparison is false.

## _Equal To_

The _Equal To_ function `=` checks if the left and right scalars are the same scalar. This function can be applied to more than just numbers!

In [1]:
1 = 1

In [2]:
1 = 2

In [3]:
1 = 1.0

In [4]:
'u' = 'u'

In [5]:
'a' = 'v'

In [6]:
2 = '2'

In [7]:
0J1 = 0J1

In [8]:
1J3.4 = 1J3.3

We can also aggregate all these previous comparisons into a single statement. We just aggregate the left values into an array and the right values into another array and then compare the two arrays, scalar by scalar:

In [9]:
1 1 1 'u' 'a' 2 0J1 1J3.4 = 1 2 1.0 'u' 'v' '2' 0J1 1J3.3

In [10]:
oneTwoThree ← 12⍴1 2 3
oneTwoThree

Another property we get from the fact that the comparison functions are scalar is that we can have a simple scalar on one of the sides and an array on the other side. To perform the comparison, the scalar is first _extended_ to match the shape of the array and then the two arrays are compared element by element.

In [11]:
oneTwoThree = 1

In [12]:
oneTwoThree = 12⍴1

We can also try to understand what happens when we have different types of nested arrays:

In [13]:
2 = (1 2 3)(2 (1 2))(5 6 2 ¯1)

In [14]:
(2 3 4) = (2 2 2)(2 3 4)(3 4 5)

In [15]:
(1 2 3) = (1 2 3)(2 2⍴⍳4)(3 3 3 5 3)

In [16]:
(1 2 3) = (1 2 3)((2 2 2)(2 3 4)(3 4 5))(3 4 5)

But this breaks down if the two outer arrays don't have matching lengths and one of them can't be _extended_ like we saw above.

In [17]:
(1 2) = (1 2 3)(2 3 4)(3 4 5)(4 5 6)

LENGTH ERROR
      (1 2)=(1 2 3)(2 3 4)(3 4 5)(4 5 6)
           ∧

## _Not Equal To_

The _Not Equal To_ function `≠` checks if the left and right scalars are different from one another and, just like the _Equal To_ function, can be applied to scalars other than numbers.

In [18]:
1 1 1 'u' 'a' 2 0J1 1J3.4 ≠ 1 2 1.0 'u' 'v' '2' 0J1 1J3.3

In [19]:
1 ≠ oneTwoThree

In [20]:
oneTwoThree ≠ ⍳12

## _Less Than_

The _Less Than_ function `<` checks if the left scalar is _to the left of_ the right scalar if the two scalars are seen on the number line.

In [21]:
2 < 1

In [22]:
2 < 2

In [23]:
2 < 3

In [24]:
2 < oneTwoThree

In [25]:
5 < ⍳12

For how many positive integers $k$ is $e^k$ below $1000$?

In [26]:
+/ (*⍳10) < 1000

This means $e^7$ should be $1000$ or greater:

In [27]:
*7

### Comparing things other than numbers

This "less than" notion is a property of numbers, and thus `<` doesn't work on scalars other than numbers. This is also true for _Greater Than_ (`>`), _Less Than or Equal To_ (`≤`) and _Greater Than or Equal To_ (`≥`).

Notice how you cannot run something like `'g' < 'G'` because of a _domain_ error, i.e. `<` was not expecting character scalars:

In [28]:
'g' < 'G'

DOMAIN ERROR
      'g'<'G'
         ∧

You can, however, use `⍋` and `⍒` to grade any type of array. This means you can check how the array `('g' 'G')` would be sorted and then compare the sorting indices, [for example](https://aplcart.info/?q=%2F%20lexically) with

In [29]:
'g' {</⍋⍺⍵} 'G'

Because we got a $0$ here, this means that in a character array `'g'` would come to the right of `'G'`:

In [30]:
charArray ← 'abcghizywxJHGFDS'
charArray[⍋charArray]

## _Greater Than_

The _Greater Than_ function `>` checks if the left scalar is greater than the right scalar, which on the number line checks if the left scalar is _to the right of_ the right scalar.

In [31]:
2 > 1

In [32]:
2 > 2

In [33]:
2 > 3

In [34]:
2 > oneTwoThree

In [35]:
5 > ⍳12

What is the first integer $k$ for which $e^k$ is greater than $1000$?

In [36]:
⊃⍸ (*⍳10) > 1000

So $e^7$ should be greater than $1000$:

In [37]:
*7

### Interchangeability of `<` and `>`

The `<` and `>` functions have a really nice property: `⍺ < ⍵` is exactly the same as `⍵ > ⍺` so you can look for opportunities to change one with the other when changing the order of the expression allows you to remove, for example, a set of parentheses!

Check how the two lines of code above can be simplified a bit by swapping the usages of `<` and `>` and by swapping their arguments:

In [38]:
+/ (*⍳10) < 1000

In [39]:
+/  1000  > *⍳10

In [40]:
⊃⍸ (*⍳10) > 1000

In [41]:
⊃⍸  1000  < *⍳10

This also means you are highly unlikely to ever need to use `⍨` with `<` or `>`, as dyadic `<⍨` simplifies to `>` and dyadic `>⍨` simplifies to `<`.

What if you want to use `<⍨` or `>⍨` but to call them monadically? `⍵ < ⍵` and `⍵ > ⍵` are always $0$ so there is also no need to do that!

## _Less Than or Equal To_

The _Less Than or Equal To_ `≤` function checks if the left scalar is less than or equal to the right argument.

In [42]:
2 ≤ 1

In [43]:
2 ≤ 2

In [44]:
2 ≤ 3

In [45]:
2 ≤ oneTwoThree

The _Less Than or Equal To_ `≤` function can be seen as the logical disjunction of the functions _Less Than_ and _Equal To_ ; in fact, _less than or equal to_ is comprised of (less than `<`) (or `∨`) (equal to `=`).

In [46]:
2   <   oneTwoThree

In [47]:
2   =   oneTwoThree

In [48]:
2 (<∨=) oneTwoThree

In [49]:
2   ≤   oneTwoThree

## _Greater Than or Equal To_

The _Greater Than or Equal To_ `≥` function checks if the left scalar is greater than or equal to the right argument.

In [50]:
2 ≥ 1

In [51]:
2 ≥ 2

In [52]:
2 ≥ 3

In [53]:
2 ≥ oneTwoThree

In a similar fashion to the _Less Than or Equal To_ function, the _Greater Than or Equal To_ function can be broken up in three parts: (greater than `>`) (or `∨`) (equal to `=`).

In [54]:
2   >   oneTwoThree

In [55]:
2   =   oneTwoThree

In [56]:
2 (>∨=) oneTwoThree

In [57]:
2   ≥   oneTwoThree

### Interchangeability of `≤` and `≥`

We have in `≤` and `≥` a property just like what we have with `<` and `>`: `⍺ ≤ ⍵` is exactly the same as `⍵ ≥ ⍺` so, again, you can look for opportunities to change one with the other. Sometimes this means we can simplify an expression by swapping the arguments, for example by dropping a set of parentheses.

From this we also see there is no point in using dyadic `≤⍨` and `≥⍨`. As for the monadic versions of those, notice that `⍵ ≤ ⍵` and `⍵ ≥ ⍵` always return $1$ so it isn't meaningful to consider monadic `≤⍨` or `≥⍨`.

# Logical opposites

These six functions form three pairs of logical opposites:

 - `=` is the opposite of `≠` and vice versa;
 - `<` is the opposite of `≥` and vice versa;
 - `>` is the opposite of `≤` and vice versa.

## _Equal_ and _Not Equal To_ are opposite from one another

If you go back to the beginning, you will notice that the results for the examples with `=` are exactly the opposite of the results we get when using `≠`.

This is because the _Not Equal To_ function `≠` is the logical negation of `=`, which means that using `=` and then negating is the same as using `≠`; it also means that using `≠` and then negating it is the same as using just `=`.

By the way, notice the strikethrough over `=` that creates `≠`, also mimicking the mathematical notation for $=$ and $\neq$.

In [58]:
notUnequal ← ~ 1≠oneTwoThree
notUnequal

In [59]:
equal ← 1 = oneTwoThree
equal

In [60]:
equal ≡ notUnequal ⍝ Check if the arrays are the same

In [61]:
(~oneTwoThree=⍳12) ≡ (oneTwoThree ≠ ⍳12)

In [62]:
(~oneTwoThree≠⍳12) ≡ (oneTwoThree = ⍳12)

## _Less Than_ and _Greater Than or Equal To_ are opposite from one another

This is fairly easy to deduce; in fact, for two numbers `⍵` and `⍺` we can imagine them on the number line. Then only one of three things can happen:

 1. `⍵` is to the left of `⍺` which can be written as `⍵ < ⍺`;
 2. `⍵` and `⍺` lie on the same point, which is `⍵ = ⍺`;
 3. `⍵` is to the right of `⍺` which can be written as `⍵ > ⍺`;
 
The _Less Than_ function returns $1$ for the case 1. above and $0$ for the cases 2. and 3.; on the other hand the _Greater Than or Equal To_ function returns $0$ for the case 1. above and $1$ for the cases 2. and 3. This shows `<` and `≥` are opposites from one another.

In [63]:
oneToFive ← 15⍴⍳5
oneToFive

In [64]:
oneTwoThree ← 15⍴⍳3
oneTwoThree

In [65]:
oneToFive < oneTwoThree

In [66]:
(~ oneToFive < oneTwoThree) ≡ (  oneToFive ≥ oneTwoThree)

In [67]:
(  oneToFive < oneTwoThree) ≡ (~ oneToFive ≥ oneTwoThree)

## _Greater Than_ and _Less Than or Equal To_ are opposite from one another

The reason why these two functions are opposite from one another is very similar to the explanation for `<` and `≥`.

In [68]:
oneToFive ≤ oneTwoThree

In [69]:
(~ oneToFive ≤ oneTwoThree) ≡ (  oneToFive > oneTwoThree)

In [70]:
(  oneToFive ≤ oneTwoThree) ≡ (~ oneToFive > oneTwoThree)